/* 

themename: TeamExio
version: 1.0
author: Abu Md Nayeem Khan
author uri: bhaira.com
description: This theme is a modern, lightweight, and fully responsive WordPress theme designed for speed, flexibility, and ease of use. It is built with clean and well-structured code, following WordPress best practices to ensure performance, security, and compatibility. The theme is perfect for business websites, portfolios, blogs, and eCommerce stores. It supports easy customization, works smoothly with popular plugins, and provides a user-friendly experience on all devices. With a focus on performance optimization and clean design, this theme helps you create professional websites quickly and efficiently—without unnecessary complexity.;
tags: wordpress theme, responsive, modern design, clean design, lightweight, fast loading, SEO friendly, user friendly, customizable

*/